button.btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

body {
    background-color: slategray;
    color: white;
}

.wd-btn-primary {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: cadetblue;
    border: none;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: white;
}

input.form-control {
    margin-bottom: 10px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.margin-left-10px {
    margin-left: 10px;
}

.margin-right-10px {
    margin-right: 10px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}